/**BODY**/
body{
    z-index: 0;
    background-color: whitesmoke;
    margin: 0;
}

/**HEADER**/
header{
    object-fit: cover;
    background-color: #1E2C3A;
    z-index: 2;
    height: 7vh;
    position: sticky;
    top: 0;
}

header nav{
    text-align: center;
    display: flex;

}

header nav>ul{
    flex-basis: 100%;
    display: flex;

}

header nav>ul>li{
    flex-grow: 1;
    position: relative;
    list-style: none;
}

header nav>ul>li>a{
    padding-top: 2vw7vw;
    color: white;
    text-decoration: none;
}

li a{
    text-decoration: none;
    color: white;
}

#sous-menu > li>a{
    color: white;
}
/**MENU DEROULANT**/

#menu-deroulant > a:after{
    content: 'â¯';
    font-size: 1em;
    margin-left: 1em;
    display: inline-block;
  }
  
  #sous-menu{
      margin-top: 1em;
      width: 100%;
      overflow: hidden;
      max-height: 0;
      padding: 0;
  }
  
  #sous-menu{
      background-color: #1E2C3A;

  }
  
  #sous-menu > li > a{
      width: 100%;
      align-items: center;
  }
  
  nav > ul > li:hover > a{
      color: white;
  }
  
  #sous-menu > li:hover {
      background-color: #3b5066;
  }

  li{
    list-style: none;
    padding: 5px;
  }
  
  #sous-menu > li:hover > a {
      color: white;
  }
  
  @keyframes rotationFleche{
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(90deg);
      }
  }
  
  #menu-deroulant:hover > a:after{
      animation: rotationFleche 0.2s linear forwards;
  }
  
  @keyframes apparitionSousMenu {
      0% {
        border-bottom: 3px solid black;
      }
      100% {
          border-bottom: 3px solid black;
        max-height: 10em;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;;
      }
  }
  
  #menu-deroulant:hover > #sous-menu {
      animation: apparitionSousMenu 1s forwards;
  }
/**MAIN**/

#h{
    margin-top: 10vh;
    font-size: 1.5vw;
}

#presentation{
    background-color: #3b5066;
    color: white;
    margin-top: 10vh;
    margin-left: 7vw;
    margin-right: 0vw;
    margin-bottom: 10vh;
    border-radius: 10%;
    padding: 4vw;
    flex-basis: 20%;
}

#presentation p{
    font-size: 1vw;
}

/**Caroussel**/

div#slider { width: 80%; max-width: 700px; padding-bottom: 3rem; }

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
  }

div#slider figure img { width: 20%; height: auto; float: left; }

div#slider {
    width: 80%; 
    max-width: 700px; 
    overflow: hidden;
    margin: auto; }

@keyframes slidy {
    0% { left: 0%; }
    25% { left: 0%; }
    50% { left: -100%; }
    75% { left: -100%; }
  }

  div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 10s slidy infinite;
  }

  /**FIN CAROUSSEL **/

#pres{
    display: flex;
}

@media (max-width: 70em){

    #h{
        font-size: medium;
    }

    #pres { display: flex;
            flex-wrap: wrap;
    }
    #presentation p{
        font-size: 3vw;
        margin: 0;
    }
    #presentation{
        flex-basis: 100%;
        margin: 5vw;
    }
    footer{
        position:absolute;
        bottom: 2;
    }
    header{
        height: 15vw;
    }

}
/**FOOTER**/

footer{
    position: absolute;
    bottom: 3;
    background-color: #1E2C3A;
    width: 100%;
    color:white;
    display: flex;
    
}

#lorem{
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    flex-basis: 40%;
}

footer img{
    margin-top: 1rem;
    margin-right: 5rem;
    max-width: 8rem;
    max-height: 8rem;
    flex-basis: 20%;
    position: absolute;
    right: 0;
}