/** BODY **/
body {
    background-color: black;
    color: white;
    font-size: 2rem;
}



/** HEADER **/
header{
background-color: grey;
padding:1rem ;
display: flex;
height: 7vh;
position: sticky;
top: 0;
}

header nav{
    flex-basis: 100%;
    margin-left: 1em;
    width: 100%;
}

ul{
    list-style-type: none;
}

header nav > ul{
    display: flex;
    text-align: center;
    padding: 0;
}

header nav > ul > li{
    flex-grow: 1;
    position: relative;
}

header nav > ul > li > a{
    position: absolute;
    transform: translate(-50%, -50%);
}

li a{
    text-decoration: none;
    color: black;
}

#menu-deroulant > a:after{
    content: 'â¯';
    font-size: 1em;
    margin-left: 1em;
    display: inline-block;
  }
  
  #sous-menu{
      margin-top: 1em;
      width: 100%;
      overflow: hidden;
      max-height: 0;
      padding: 0;
  }
  
  #sous-menu{
      background-color: black;
      border-radius: 50px;
      border-bottom-right-radius: 100px;
      border-bottom-left-radius: 100px;
  }
  
  #sous-menu > li > a{
      width: 100%;
      align-items: center;
  }
  
  nav > ul > li:hover > a{
      color: white;
  }
  
  #sous-menu > li:hover {
      background-color: grey;
  }
  
  #sous-menu > li:hover > a {
      color: white;
  }
  
  @keyframes rotationFleche{
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(90deg);
      }
  }
  
  #menu-deroulant:hover > a:after{
      animation: rotationFleche 0.2s linear forwards;
  }
  
  @keyframes apparitionSousMenu {
      0% {
        border-bottom: 3px solid black;
      }
      100% {
          border-bottom: 3px solid black;
        max-height: 10em;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;;
      }
  }
  
  #menu-deroulant:hover > #sous-menu {
      animation: apparitionSousMenu 1s forwards;
  }
  


/** MAIN **/ 

main > section{
    display: flex;
    flex-wrap: nowrap;
}

section>div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
    background-color: rgb(82, 37, 37);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 15%;
}

section>div img{
    width: 200px;
}

h1{
    padding-top: 5rem;
}


/** FOOTER**/

footer{
    background-color: grey;
    position: absolute;
    bottom: 1;
    width: 100%;

}
